<h1>Directorio</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      @for (personas of personas; track personas.id){

      <td>{{ personas.nombres }}</td>
      <td>{{ personas.apellidoPaterno }}</td>
      <td>{{ personas.apellidoMaterno }}</td>
      <td>{{ personas.direccion }}</td>
      <td>{{ personas.telefono }}</td>
      <td>
        <button class="btn btn-editar" (click)="editPersona(personas)">
          Editar
        </button>
        <button class="btn btn-eliminar" (click)="deletePersona(personas.id!)">
          Eliminar
        </button>
      </td>
      }
    </tr>
  </tbody>
</table>
